 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

 /* Clearing and Font Family */
 *,html,body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
 }

 /* Custom Border */

 .custom-border {
    border-top: 40px solid #ff8b28;
 }

 /* Navbar class active */
 .active{
    color: #ff8b28 !important;
 }

 /* Navbar Brand */
 .navbar-brand {
    color: #ff8b28 !important;
    font-weight: 600 !important;
 }

 /* Left Session */
 /* .left-session {
    


 } */

 /* Custom Text */
 .custom-text {
    margin-left: 10%;
    margin-top: 10%;
    font-size: 72px;
 }

 /* Animate Back In Left */
 .animate__backInLeft {
    opacity: 50% !important;
 }

 /* Custom P */
 .custom-p{
    margin-left: 10%;
    margin-top: 3%;
 }

 /*  */

 /* BTN CUSTOM */
 .btn-custom {
    background-color: #ff8b28;
    border-radius: 50px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30%;
    transition: 1s all ease-in-out;
 }

 /* BTN CUSTOM ANIMATION HOVER */
 .btn-custom:hover{
    opacity: 50%;
 }

 /* Card Title */
 .card-title {
    font-weight: bold !important;
 }

 /* Right Session */
 
 /* .right-session {} */

 /* Background Top */
 .background-top {
    height: 650px;
    background-attachment: initial;
    background-image: url('/public/img/bgimg.jpg');
 }

 /* Box Contact */

 .box-contact{
    background-color: #edcbff;
    height: 600px;
 }
 
 .box-contact > h1{

    text-align: center;
    font-weight: bold;
 }

 .box-contact > h3 {
        text-align: center;
        font-size: 1.7rem;
        color: #ff8b28;
        font-weight: bold;
 }
 
 /* Services */
 .services{
    background-color: #edcbff;
    padding-bottom: 8%;
 }

 /* Custom Services */
 .custom-services{
    color: #ff8b28;
    font-weight: bold;
 }

 /* Button Order */
 .btn-order {
    background-color: white;
    color: orangered;
    font-weight: 600;
    border: none;
    margin-top: 6%;
    padding: 10px;
    border-radius: 15px;
 }

 /* p link */
 .p-link {
    text-decoration: none;
    font-weight: 600;
 }

 /* Custom Icon */
 .custom-icon{
    color: #ff8b28;
 }


 .menu{
    display: none;
    border-top: 3px solid #ff8b28 !important;
}

#menu2{
    display: none;
    border-top: 3px solid #ff8b28 !important;
}
#menu3{
    display: none;
    border-top: 3px solid #ff8b28 !important;
}
#menu4{
    display: none;
    border-top: 3px solid #ff8b28 !important;
}







































 /* Responsive */